@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*presets*/
body {
    background: #000;
    color: #fff;
    font-family: 'VT323', monospace;
    background-image: url(./RPG\ BACKGROUND.jpg);
}

/*header*/
.headerList {
    display: flex;
    justify-content: center;
    padding: 0px;
}

@media screen and (min-width: 768px) {
    .headerlist .headerListItem {
        font-size: 50px;
    }
}

.headerList .headerListItem {
    list-style-type: none;
    margin-right: 16px;
    font-size: 32px;
}

.headerList .headerListItem:hover {
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.headerList .headerListItem a {
    text-decoration: none;
    color: #fff;
}

/*content*/
.content {
    margin-top: 80px;
}

@media screen and (min-width: 768px) {
    .content {
        margin-top: 100px;
    }
}

.content .container {
    margin: 0 auto;
    width: 100%;
    max-width: 280px;
}

@media screen and (min-width: 768px) {
    .content .container {
        max-width: 1288px;
    }
}

.titleArea .title {
    font-weight: 400;
    font-size: 48px;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .titleArea .title {
        font-size: 64px;
    }
}

.infoArea .infoText {
    font-size: 16px;
    text-align: center;

}

.infoText {
    font-size: 30px;
}

@media screen and (media-width:768px) {
    .infoArea .infoText {
        font-size: 30px;
    }
}

#input-0, situation-inner-options, button {
    background-color: rgba(128, 128, 128, 0.712);
}

.playArea {
    display: flex;
    justify-content: center;
}

.playArea {
    margin-top: 50px;
}

.playArea .playButton {
    font-size: 24px;
    padding: 8px 16px;
    border: 1px solid #fff;
    background-color: rgba(128, 128, 128, 0.712);

}

@media screen and (media-width:768px) {
    .playArea .playButton {
        font-size: 42x;
        padding: 16px 32px;
    }
}

.playArea .playButton a {
    color: #fff;
    

}

/*Play Page*/
.input-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label .inputText {
    font-size: 16px;
}

.input-zone input {
    padding: 10px 25px;
    background: #000;
    border: 3px solid #fff;
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: #fff;

}

.input-zone input::placeholder {
    color: #fff;

}

.input-form button, buttom, .situation-inner-options button, .results button {
    margin-top: 5px;
    background: #000;
    border: 3px solid #fff;
    padding: 5px 64px;
    color: #fff;
    font-family: 'VT323', monospace;
    background-color: rgba(128, 128, 128, 0.712);
}

/*RPG ZONE*/

.rpg-zone {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rpg-zone div{
    max-width: 280px;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .rpg-zone div {
        max-width: 1288px;
    }
}

.rpg-zone p{
    font-size: 18px;

}

@media screen and (min-width: 768px){
    .rpg-zone p {
        font-size: 24px;
    }
}

buttom:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}

.hud {
    width:50%
}
.hud-inner {
    display: flex;
    justify-content: space-between;
}

.playerOptions{
    display: flex;
    flex-direction: column;
}

.playerOptions button{
    text-align: center;
}

.situation-inner-options{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.results{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}
@media screen and (min-width: 768px) {
    .situation-inner-options{
        flex-direction: row;
    }
}